@model AIESECJournal.Models.JournalDaily

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JournalDaily</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuccessStory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuccessStory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailureStory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailureStory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
